#columns {
  display: flex;
  align-items: flex-start;
}

.addAnotherListButton {
  width: 150px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.24);
  color: #fff;
}
.list,
.listInput {
  background-color: rgba(0, 0, 0, 0.24);
  margin-right: 10px;
  width: 272px;
}

.cardContainer {
  padding-bottom: 20px;
  margin: 0 4px;
  z-index: 1;
  min-height: 0;
  margin-top: 10px;
}

.titleContainer {
  margin: 0 4px;
  z-index: 1;
  min-height: 0;
  margin-top: 10px;
}

.card {
  height: 20px;
  padding: 6px 8px 6px;
  margin: 5px;
  background-color: #fff;
  color: #172b4d;
  width: 240px;
  border-radius: 5px;
  cursor: pointer;
}

.cardSpace,
.cardShadow {
  height: 20px;
  padding: 6px 8px 2px;
  margin: 5px;
  background-color: rgba(255, 255, 240, 0.424);
  width: 240px;
  border-radius: 5px;
}

.cardShadow {
  background-color: purple;
}

h4 {
  display: inline-block;
}

button {
  display: block;
}
