#columns {
  display: flex;
}
.addAnotherListButton {
  width: 150px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.24);
  color: #fff;
}
.list,
.listInput {
  background-color: rgba(0, 0, 0, 0.24);
  margin-right: 50px;
  width: 270px;
  height: 500px;
}

.card {
  border: 1px solid black;
  height: 30px;
}
